<% layout('layout/page') -%>
<% block('title', "User details") -%>

	<div class="container"> 
		
		<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit</button> 
		<button class="btn btn-success">Ok</button>
		<button class="btn btn-warning">Cancel</button>
	</div>
<form>
	<div class="container">
		<br>
		<table coumns="2" class="table" visible="true">
			<tr>
				<td><label class="col-lg-8">First Name</label></td>
				<td  ><%=user.get('firstname')%></td>
			</tr>
			<tr>
				<td><label class="col-lg-8">Last Name</label></td>
				<td  ><%=user.get('lastname')%></td>
			</tr>
			<tr>
				<td><label class="col-lg-8">Birthday</label></td>
				<td  ><%=user.get('birthday')%></td>
			</tr>
			<tr>
				<td><label class="col-lg-8">Club</label></td>
				<td  ><%=user.get('club')%></td>
			</tr>
			<tr>
				<td><label class="col-lg-8">Role</label></td>
				<td  ><%=user.get('role')%></td>
			</tr>
			<tr>
				<td><label class="col-lg-8">Rank</label></td>
				<td ><%=user.get('rank')%></td>
			</tr>
			<tr>
				<td><label class="col-lg-8">Si-chip</label></td>
				<td  ><%=user.get('sichip')%></td>
			</tr>
		</table> 
</div>
	<!-- Modal -->

	
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        



<form class="form-horizontal profile-update" action="/auth/login" method="POST" name="profile-update">
  <div class="form-group">
    <label for="input-username" class="col-lg-2 control-label">Name</label>

    <div class="col-lg-10">
      <input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Имя">
    </div>
  </div>
  <div class="form-group">
    <label for="input-lastname" class="col-lg-2 control-label">Last Name</label>

    <div class="col-lg-10">
      <input name="lastname" value="name" type="text" class="form-control" id="input-lastname" placeholder="Имя">
    </div>
  </div>
  <div class="form-group">
    <label for="input-birthday" class="col-lg-2 control-label">Birthday</label>

    <div class="col-lg-10">
      <input name="birthday" value="name" type="text" class="form-control" id="input-birthday" placeholder="Имя">
    </div>
  </div>
  <div class="form-group">
    <label for="input-club" class="col-lg-2 control-label">Club</label>

    <div class="col-lg-10">
      <input name="club" value="name" type="text" class="form-control" id="input-club" placeholder="Имя">
    </div>
  </div>
  <div class="form-group">
    <label for="input-role" class="col-lg-2 control-label">Role</label>

    <div class="col-lg-10">
      <input name="role" value="name" type="text" class="form-control" id="input-role" placeholder="Имя">
    </div>
  </div>
  <div class="form-group">
    <label for="input-rank" class="col-lg-2 control-label">Rank</label>

    <div class="col-lg-10">
      <input name="rank" value="name" type="text" class="form-control" id="input-rank" placeholder="Имя">
    </div>
  </div>
    <div class="form-group">
    <label for="input-sichip" class="col-lg-2 control-label">Si-chip</label>

    <div class="col-lg-10">
      <input name="sichip" value="name" type="text" class="form-control" id="input-sichip" placeholder="Имя">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Тест</button>
      <span class="help-block error"></span>
    </div>
  </div>
</form>







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document.forms['profile-update']).on('submit', function() {
    var form = $(this);

    var formData = form.serialize();
    formData += '&<%= user.login %>';

    RequestModule.sendFormData('/updateProfile', 'POST', formData, function(data)	{
    	console.log(data);
    });
    return false;
  });
</script>